TP3_Algebra_G4/[Ll]ibrary/
TP3_Algebra_G4/[Tt]emp/
TP3_Algebra_G4/[Oo]bj/
TP3_Algebra_G4/[Bb]uild/
TP3_Algebra_G4/[Bb]uilds/
TP3_Algebra_G4/[Ll]ogs/
TP3_Algebra_G4/[Uu]ser[Ss]ettings/
TP3_Algebra_G4/.vs